---
interface Props {
  class?: string;
  position?: "top" | "bottom";
}
const { class: className = "", position = "bottom" } = Astro.props;
---

<div
  class:list={[
    "pointer-events-none absolute overflow-hidden select-none",
    position === "top"
      ? "top-0 right-0 h-56 w-56 -translate-y-1/4 translate-x-1/4 md:h-72 md:w-72"
      : "bottom-0 left-0 h-64 w-64 -translate-x-1/4 translate-y-1/4 md:h-80 md:w-80",
    className,
  ]}
  aria-hidden="true"
>
  {position === "top" ? (
    <>
      <img
        src="/images/assets%20fleur/2.png"
        alt=""
        loading="lazy"
        decoding="async"
        class="absolute right-0 top-0 h-[75%] w-[75%] rotate-[8deg] object-contain opacity-20"
      />
      <img
        src="/images/assets%20fleur/5.png"
        alt=""
        loading="lazy"
        decoding="async"
        class="absolute left-[8%] top-[22%] h-[62%] w-[62%] -rotate-[6deg] object-contain opacity-15"
      />
    </>
  ) : (
    <>
      <img
        src="/images/assets%20fleur/3.png"
        alt=""
        loading="lazy"
        decoding="async"
        class="absolute bottom-0 left-0 h-[78%] w-[78%] -rotate-[9deg] object-contain opacity-20"
      />
      <img
        src="/images/assets%20fleur/4.png"
        alt=""
        loading="lazy"
        decoding="async"
        class="absolute bottom-[12%] left-[18%] h-[58%] w-[58%] rotate-[6deg] object-contain opacity-14"
      />
    </>
  )}
</div>
